
body{
  background: #000000;
}

.datetime {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #6193C7;
  background-color: black;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
  position: absolute;
  width: 20rem;
  height: 5rem;
  margin: auto;
  left: 40%;
  top: 75%;
}
/* .content .content-left{
  position: relative;
  text-decoration-color: aliceblue;
} */

.content .content-right{
  width: 20rem ;
  height: 5rem;
  background: #6192c71d;
  background-size: 100% 100%;
  float: right;
  position: relative;
}

.right-infp{
  width: 10rem;
  height: 5rem;
  margin: auto auto;
  vertical-align: center;
  position: absolute;
  top:1.0rem;
  left: 0.9rem;
}
.right-infp label {
  width: 100px;
  margin-right: 10px;
}

.right-infp-name{
  width: 100%;
  height: 1.2rem;
  background-size: 100% 100%;
  line-height: 0.45rem;
  margin-bottom: 0.8rem;
  margin-left: 2.0rem;
  position: relative;
}

.right-infp-name label{
  height: 0.5rem;
  background: none !important;
  color: #6193C7;
  outline: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  position: relative;
}


.right-infp-name input{
  width: 85%;
  border: none;
  height: 0.5rem;
  line-height: 0.5rem;
  background: none !important;
  color: #6193C7;
  padding-left: 0.15rem;
  outline: none;
  -webkit-tap-highlight-color:rgba(255,0,0,0);
  position: absolute;
}

.right-infp-btn{
  background:#6193C7 ;
  width: 40%;
  top: -3rem;
  height: 1.2rem;
  background-size: 100% 100%;
  line-height: 1.6rem;
  position: relative;
  margin-left: 13.0rem;
}
.right-infp-btn .btn{
  width: 95%;
  border: none;
  box-sizing: border-box;
  height: 1.2rem;
  margin-left: 0.1rem;
  font-size: 0.2rem;
  cursor: pointer;
  background: none;
  outline: none;
  color: #fff;
  position: absolute;
}

svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
svg circle{
  stroke: #6193C7;
}

.circle{
  transform-origin: center ;
}
#arc1{
  stroke-dasharray: 32;
  stroke-dashoffset: 18;
  animation: 10s -2s rota infinite linear;
}
#arc4{
  stroke-dasharray: 400;
  stroke-dashoffset: 800;
  animation: 6s 1s rota infinite linear reverse;
}
#arc5{
  stroke-dasharray: 400;
  stroke-dashoffset: 650;
  animation: 4s 1s rota infinite linear;
}
#arc7{
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: 4s 1s rota infinite linear reverse;
}
@keyframes rota{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.introduction {
  animation-name: flicker;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.panel {
  position: fixed;
  top: 0;
  height: 100%;
  width: 725px;
  background-color: #0d0c39;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

.panel-left {
  left: 0;
  transform: translateX(-50vw);
  opacity: 0;
  background-color: #0d0c39;
  /* Set transition duration and easing function */
  transition:opacity 2s, transform 2s ease-out;
}

.panel-right {
  right: 0;
  transform: translateX(50vw);
  opacity: 0;
  background-color: #0d0c39;
  /* Set transition duration and easing function */
  transition:opacity 2s,transform 2s ease-out;
}