.count {
  position: absolute;
  top: 8%;
  left: 47.5%;
  font-size: 64px;
  color: #c76161;
  background-color: #c761641d;
  padding: 10px;
}

.container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: auto;
}
.figure {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 300px;
  height: 400px;
}
#figure1 {
  z-index: 1;
}
#figure2 {
  z-index: 2;
  transform: rotate(90deg);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel {
  position: fixed;
  top: 0;
  height: 100%;
  width: 780px;
  background-color: #390c0c76;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}

.panel-left {
  left: 0;
  background-color: #390c0c76;
  /*transform: translateX(-100vw);
  /* Set transition duration and easing function */
  transition: transform 5s ease-out;
}

.panel-right {
  right: 0;
  background-color: #390c0c76;
  /*transform: translateX(100vw);
  /* Set transition duration and easing function */
  transition:transform 5s ease-out;
}

.main-content {
  margin: 0 220px;
  padding: 20px;
  font-size: 36px;
  text-align: center;
}